# Subsetting and filtering data
If you want to type along with me, use [this notebook](https://humboldt.cloudbank.2i2c.cloud/hub/user-redirect/git-pull?repo=https%3A%2F%2Fgithub.com%2Fbethanyj0%2Fdata271_sp24&branch=main&urlpath=tree%2Fdata271_sp24%2Fdemos%2Fdata271_demo14_live.ipynb) instead. 
If you don't want to type and want to follow along just by executing the cells, stay in this notebook.

In [1]:
import numpy as np
import pandas as pd

## Import data

In [3]:
# read a csv in your working directory
df = pd.read_csv('earthquakes.csv')
df.head(2)

,alert,cdi,code,detail,dmin,felt,gap,ids,mag,magType,...,sources,status,time,title,tsunami,type,types,tz,updated,url
0,NaN,NaN,37389218,https://earthquake.usgs.gov/fdsnws/event/1/que...,0.008693,NaN,85.0,",ci37389218,",1.35,ml,...,",ci,",automatic,1539475168010,"M 1.4 - 9km NE of Aguanga, CA",0,earthquake,",geoserve,nearby-cities,origin,phase-data,",-480.0,1539475395144,https://earthquake.usgs.gov/earthquakes/eventp...
1,NaN,NaN,37389202,https://earthquake.usgs.gov/fdsnws/event/1/que...,0.020030,NaN,79.0,",ci37389202,",1.29,ml,...,",ci,",automatic,1539475129610,"M 1.3 - 9km NE of Aguanga, CA",0,earthquake,",geoserve,nearby-cities,origin,phase-data,",-480.0,1539475253925,https://earthquake.usgs.gov/earthquakes/eventp...

### Filtering with conditions

In [4]:
# keep only the rows where this boolean statement is true (mag greater than or equal to 7)
df[df.mag >= 7]

,alert,cdi,code,detail,dmin,felt,gap,ids,mag,magType,...,sources,status,time,title,tsunami,type,types,tz,updated,url
837,green,4.1,1000haa3,https://earthquake.usgs.gov/fdsnws/event/1/que...,1.763,3.0,14.0,",us1000haa3,pt18283003,at00pgehsk,",7.0,mww,...,",us,pt,at,",reviewed,1539204500290,"M 7.0 - 117km E of Kimbe, Papua New Guinea",1,earthquake,",dyfi,finite-fault,general-text,geoserve,groun...",600.0,1539378744253,https://earthquake.usgs.gov/earthquakes/eventp...
5263,red,8.4,1000h3p4,https://earthquake.usgs.gov/fdsnws/event/1/que...,1.589,18.0,27.0,",us1000h3p4,us1000h4p4,",7.5,mww,...,",us,us,",reviewed,1538128963480,"M 7.5 - 78km N of Palu, Indonesia",1,earthquake,",dyfi,finite-fault,general-text,geoserve,groun...",480.0,1539123134531,https://earthquake.usgs.gov/earthquakes/eventp...

In [5]:
# note that the other notation works here too
df[df['mag'] >= 7]

,alert,cdi,code,detail,dmin,felt,gap,ids,mag,magType,...,sources,status,time,title,tsunami,type,types,tz,updated,url
837,green,4.1,1000haa3,https://earthquake.usgs.gov/fdsnws/event/1/que...,1.763,3.0,14.0,",us1000haa3,pt18283003,at00pgehsk,",7.0,mww,...,",us,pt,at,",reviewed,1539204500290,"M 7.0 - 117km E of Kimbe, Papua New Guinea",1,earthquake,",dyfi,finite-fault,general-text,geoserve,groun...",600.0,1539378744253,https://earthquake.usgs.gov/earthquakes/eventp...
5263,red,8.4,1000h3p4,https://earthquake.usgs.gov/fdsnws/event/1/que...,1.589,18.0,27.0,",us1000h3p4,us1000h4p4,",7.5,mww,...,",us,us,",reviewed,1538128963480,"M 7.5 - 78km N of Palu, Indonesia",1,earthquake,",dyfi,finite-fault,general-text,geoserve,groun...",480.0,1539123134531,https://earthquake.usgs.gov/earthquakes/eventp...

In [6]:
# important columns for earthquakes with magnitude greater than or equal to 7 OR caused a tsunami
df.loc[
    (df.tsunami == 1) | (df.mag >= 7),
    ['mag', 'title', 'tsunami', 'place']
]

,mag,title,tsunami,place
36,5.0,"M 5.0 - 165km NNW of Flying Fish Cove, Christm...",1,"165km NNW of Flying Fish Cove, Christmas Island"
118,6.7,"M 6.7 - 262km NW of Ozernovskiy, Russia",1,"262km NW of Ozernovskiy, Russia"
501,5.6,"M 5.6 - 128km SE of Kimbe, Papua New Guinea",1,"128km SE of Kimbe, Papua New Guinea"
799,6.5,"M 6.5 - 148km S of Severo-Kuril'sk, Russia",1,"148km S of Severo-Kuril'sk, Russia"
816,6.2,"M 6.2 - 94km SW of Kokopo, Papua New Guinea",1,"94km SW of Kokopo, Papua New Guinea"
...,...,...,...,...
8561,5.4,"M 5.4 - 228km S of Taron, Papua New Guinea",1,"228km S of Taron, Papua New Guinea"
8624,5.1,"M 5.1 - 278km SE of Pondaguitan, Philippines",1,"278km SE of Pondaguitan, Philippines"
9133,5.1,"M 5.1 - 64km SSW of Kaktovik, Alaska",1,"64km SSW of Kaktovik, Alaska"
9175,5.2,"M 5.2 - 126km N of Dili, East Timor",1,"126km N of Dili, East Timor"
9304,5.1,"M 5.1 - 34km NW of Finschhafen, Papua New Guinea",1,"34km NW of Finschhafen, Papua New Guinea"

In [7]:
# Just get the earthquakes in California
df.loc[
    (df.place.str.contains('California')),
    ['mag', 'title', 'tsunami', 'place']
]

,mag,title,tsunami,place
71,0.7,"M 0.7 - 36km ENE of Big Pine, California",0,"36km ENE of Big Pine, California"
84,1.1,"M 1.1 - 14km NE of East Quincy, California",0,"14km NE of East Quincy, California"
96,0.9,"M 0.9 - 60km E of Big Pine, California",0,"60km E of Big Pine, California"
162,1.1,"M 1.1 - 29km ENE of Bridgeport, California",0,"29km ENE of Bridgeport, California"
292,0.6,"M 0.6 - 7km WNW of Tahoe Vista, California",0,"7km WNW of Tahoe Vista, California"
...,...,...,...,...
8974,1.0,"M 1.0 - 41km ESE of Big Pine, California",0,"41km ESE of Big Pine, California"
9140,0.8,"M 0.8 - 54km N of Fort Irwin, California",0,"54km N of Fort Irwin, California"
9162,0.8,"M 0.8 - 14km SSE of Big Pine, California",0,"14km SSE of Big Pine, California"
9235,0.0,"M 0.0 - 60km E of Big Pine, California",0,"60km E of Big Pine, California"
9298,1.1,"M 1.1 - 23km WNW of Bridgeport, California",0,"23km WNW of Bridgeport, California"

In [8]:
# We might have missed some-- the USGS has tagged some locations as California and some as CA. USE REGEX!
cali_df = df.loc[
    (df.place.str.contains('CA|California')),
    ['mag', 'title', 'tsunami', 'place']
]
cali_df

,mag,title,tsunami,place
0,1.35,"M 1.4 - 9km NE of Aguanga, CA",0,"9km NE of Aguanga, CA"
1,1.29,"M 1.3 - 9km NE of Aguanga, CA",0,"9km NE of Aguanga, CA"
2,3.42,"M 3.4 - 8km NE of Aguanga, CA",0,"8km NE of Aguanga, CA"
3,0.44,"M 0.4 - 9km NE of Aguanga, CA",0,"9km NE of Aguanga, CA"
4,2.16,"M 2.2 - 10km NW of Avenal, CA",0,"10km NW of Avenal, CA"
...,...,...,...,...
9326,1.82,"M 1.8 - 4km W of Julian, CA",0,"4km W of Julian, CA"
9327,0.62,"M 0.6 - 9km ENE of Mammoth Lakes, CA",0,"9km ENE of Mammoth Lakes, CA"
9328,1.00,"M 1.0 - 3km W of Julian, CA",0,"3km W of Julian, CA"
9330,1.10,"M 1.1 - 9km NE of Aguanga, CA",0,"9km NE of Aguanga, CA"
9331,0.66,"M 0.7 - 9km NE of Aguanga, CA",0,"9km NE of Aguanga, CA"

In [9]:
# if we just want the columns related to magnitude
df.loc[
    (df.place.str.contains('CA|California')),
    [col for col in df.columns if 'mag' in col]
]

       mag magType
0     1.35      ml
1     1.29      ml
2     3.42      ml
3     0.44      ml
4     2.16      md
...    ...     ...
9326  1.82      ml
9327  0.62      md
9328  1.00      ml
9330  1.10      ml
9331  0.66      ml

[2861 rows x 2 columns]

### Finding the minimum and maximum
We might be interested in knowing the lowest and highest magnitude earthquakes which occured in California during the time frame the data frame represents, and also knowing where and when they occured.  Pandas lets us find the index of these extrema and then we can select the entire row.

In [ ]:
# get the index of lowest and highest magnitude earthquakes in California
cali_df.mag.argmin(), cali_df.mag.argmax()

In [ ]:
# ERROR! this gives us the POSITION index
cali_df.loc[
    [cali_df.mag.argmin(), cali_df.mag.argmax()],
    ['mag', 'title', 'tsunami', 'place']
]

In [ ]:
# get the index LABEL of the lowest and highest magnitude earthquakes in Cali
cali_df.mag.idxmin(), cali_df.mag.idxmax()

In [ ]:
# This allows us to indwex with loc
cali_df.loc[
    [cali_df.mag.idxmin(), cali_df.mag.idxmax()],
    ['mag', 'title', 'tsunami', 'place']
]

The largest quake in California was in Trinidad!

## Plotting with Pandas

In [ ]:
# histograms
df.plot(kind='hist',y='mag');

In [ ]:
# line plots
df.plot(kind='line',x = 'time', y='mag');

In [ ]:
# scatter plots
df.plot(kind='scatter',x='gap',y='mag');

In [ ]:
# bar charts
df.value_counts('status').plot(kind='bar');

## Activity 

Consider the following jokes:

1. Q: Why don't scientists trust atoms?
    1. Because they make up everything.
2. Q: What do you call fake spaghetti?
    1. An impasta!
3. Q: Why did the scarecrow win an award?
    1. Because he was outstanding in his field.

Create a Pandas dataframe with the jokes in one column, their answers in another column, and your rating of the joke on a scale of 0-5 stars (ints) in another column.

Compute your average rating of these jokes.

Access the question and answer of your highest rated joke. (output should be a Pandas df with 1(or more) rows and two columns)